
.chat-list-item {
    display: flex;
    justify-content: space-between;
    background-color: #444753;
    padding: 5px;
    border-bottom:  1px;
}

.chat-list-item.active {
    background-color: #24262c;
}


.chat-list-item:hover {
    background-color: #6A6C75;
    cursor: pointer;
}

.chat-list-item-avatar {
    height: 50px;
    border-radius: 50%;

}

.chat-list-item-name {
    color: ivory;
}

.chat-list-item-status {
    font-size: .7rem;
}

.chat-list-item-online {
    color: rgb(28, 196, 28);
}

.chat-list-item-offline {
    color: deeppink;
}

.chat-list-item-message-icon {
    height: 32px;
    width: 32px;
    font-size: .7rem;
    padding-top: 2px;
    color: ivory;
    background-image: url(../../icons/chat.png);
    background-repeat: no-repeat;
}
